.home-page-photo{
    width: 200px !important;
    height: 150px !important;
}

/******** HOME PAGE PAGINATION ********/ 

.pager .active a{
    background-color: #000 !important;
    color: #fff !important;
}

.pager .active a:hover{
    background-color: #000 !important;
    color: #fff !important; 
}